# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
federated
skip-host-cache
skip-name-resolve
# 设置时间允许null
explicit_defaults_for_timestamp=OFF

sql_mode=''
#sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
# 设置3306端口
port=3306

character-set-server=utf8mb4

# 允许最大连接数
max_connections=200
# 允许连接失败的次数。这是为了防止有人从该主机试图攻击数据库系统
max_connect_errors=10

max_allowed_packet=256M

# 默认使用“mysql_native_password”插件认证
default_authentication_plugin=mysql_native_password

#InnoDB#
# 创建新表时将使用的默认存储引擎
#default-storage-engine=INNODB
#缓存池
#innodb_buffer_pool_size=2G

# 双1模式
# 按事务刷盘，刷日志 [0:最快模式,1:安全模式,2:比0安全但比0要慢]看需求，服务器较为稳定可以选择2，自己搭建的最好选择1
innodb_flush_log_at_trx_commit=1
# 提交1次事务刷1次，可以为n
sync_binlog=1

# 脏页占innodb_buffer_pool_size的比例时，触发刷脏页到磁盘
# 25%~50%
innodb_max_dirty_pages_pct=30

# 后台进程最大IO性能指标
# 默认200，如果SSD，调整为5000~20000
innodb_io_capacity=500

# 默认10M。防止高并发下，数据库受影响
innodb_data_file_path=ibdata1:1024M:autoextend

# 8.0默认row。记录格式，让数据安全可靠
binlog_format=row

# 默认8小时。交互等待时间和非交互等待时间
# 建议300~500s,两参数值必须一致，且同时修改
interactive_timeout=500
wait_timeout=500

#日志大小
innodb_log_file_size=256M
#日志缓存大小
innodb_log_buffer_size=12M
#慢查询
slow_query_log=ON

innodb_flush_log_at_trx_commit=2
#innodb_flush_method
#thread_cache=8
#innodb_autoextend_increment=128M

#这里确认是否起用压缩存储功能
innodb_file_per_table=1
#innodb_file_format=barracuda #mysql 8 不支持该功能
#决定压缩程度的参数，如果你设置比较大，那么压缩比较多，耗费的CPU资源也较多；
#相反，如果设置较小的值，那么CPU占用少。默认值6，可以设置0-9#
#innodb_compression_level=6
#指定在每个压缩页面可以作为空闲空间的最大比例，
#该参数仅仅应用在设置了innodb_compression_failure_threshold_pct不为零情况下，并且压缩失败率通过了中断点。
#默认值50，可以设置范围是0到75
innodb_compression_pad_pct_max=50

#忽略表明大小写
lower_case_table_names=1
